<div class="container">
  <div class="user-show">
    <div class="info">
      <img src="<%= image_path("#{@user.email}.png") %>" height="160" width="160">
    <h2><%= @user.email %></h2>
    <p><%= @user.first_name + " " + @user.last_name %></p>
    <p><%= @user.bio %></p>
    </div>

    <div class="user-skills-show">
        <h3>Skills:</h3>
        <p><em><% @user.knowledges.each do |knowledge| %></p>
        <%= knowledge.skill.name + ": " + knowledge.level %>
        <% end %></em>
        <br>
        <div class="add-skill-button">
         <%= link_to "Add a Skill", new_knowledge_path, class: "btn-primary" %>
        </div>
      </div>
    </div>
  </div>


  <div class="user-projects-show">
    <h3>Projects:</h3>
    <div class="row">
      <% @user.projects.each do |project| %>
        <div class="col-xs-12 col-sm-4">
          <div class="card">
            <div class="card-description">
              <h2><%= project.title %></h2>
              <p><%= project.description[0, 100] %></p>
            </div>
            <a class="card-link" href="<%= project_path(project) %>" ></a>
          </div>
        </div>
      <% end %>
    </div>
  </div>
    <br>
    <div class="new-project-button">
     <%= link_to "Create a New Project", new_project_path, class: "btn-primary" %>
    </div>
    <br>

    <div class="user-contributions-show">
      <h3>Contributions:</h3>
      <% @user.contributions.each do |contribution| %>
      <%= contribution.title %>
      <% end %>
    </div>

    <%= link_to "Back", :back %>
  </div>
</div>
