<div class="container">

<!----------------------->

  <div class="user-show section">
    <div class="user-profile">
      <div class="user-image">
        <% if @user.photo.present? %>
          <% photo = cl_image_tag @user.photo%>
        <% else %>
          <% photo = cl_image_tag('avatar.png') %>
        <% end %>
        <%= photo %>
      </div>
      <div class="info">
        <h2><%= @user.full_name %></h2>
        <p><%= @user.email %></p>
        <p><%= @user.bio %></p>
        <%= render 'user_form' %>
      </div>
    </div>

    <div class="user-skills">
      <h3>Skills:</h3>
      <div class="knowledges-list">
        <% @user.knowledges.each do |knowledge| %>
          <div class="knowledges-box">
            <span class="knowledges">
              <i class="devicon-<%= knowledge.skill.slug %>"></i>
            </span>
            <div class="details">
              <%= knowledge.skill.name + ": " + knowledge.level %>
            </div>
            <% if @user == current_user %>
              <%= link_to knowledge_path(knowledge), method: :delete do %>
                <i class="far fa-trash-alt"></i>
              <% end %>
            <% end %>
            <br>
          </div>
        <% end %>
      </div>
      <% if @user == current_user %>
        <div class="add-skill-button">
          <%= link_to "Add a Skill", new_knowledge_path, class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>

<!---------------------------->

  <!-- USER PROJECT CARDS -->
  <%= render 'pages/user_show_projects_cards' %>

<!------------------------------>

  <!-- USER INTEREST CARDS -->
  <%= render 'pages/user_show_interests_cards' %>

<!---------------------------------->

  <!-- USER CONTRIBUTIONS CURRENTLY WORKING ON CARDS -->
  <%= render 'pages/user_show_contributions_cards' %>

<!---------------------------------->

  <%= link_to "Back", :back %>
</div>
