<div class="container">

<!----------------------->

  <div class="user-show section">
    <div class="user-profile">
      <% if File.exist?("#{@user.email}.png") %>
        <img class="avatar" src="<%= image_path("#{@user.email}.png") %>" height="160" width="160">
      <% else %>
        <img class="avatar" src="<%= image_path("placeholder.png") %>" height="160" width="160">
      <% end %>
      <div class="info">
        <h2><%= @user.full_name %></h2>
        <p><%= @user.email %></p>
        <p><%= @user.bio %></p>
      </div>
    </div>

    <div class="user-skills">
      <h3>Skills:</h3>
      <p><em><% @user.knowledges.each do |knowledge| %></p>
      <%= raw '<i class="devicon-' + knowledge.skill.slug + ' colored"></i>' %>
      <%= knowledge.skill.name + ": " + knowledge.level %>
        <% if @user == current_user %>
          <%= link_to knowledge_path(knowledge), method: :delete do %>
            <i class="far fa-trash-alt"></i>
          <% end %>
        <% end %>
      <% end %></em>
      <br>
      <% if @user == current_user %>
        <div class="add-skill-button">
         <%= link_to "Add a Skill", new_knowledge_path, class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>

<!---------------------------->

  <div class="user-projects section">
    <h3>Projects:</h3>
    <div class="row">
      <% @user.projects.each do |project| %>
        <div class="col-xs-12 col-sm-4">
          <div class="card">
            <a class="card-link" href="<%= project_path(project) %>" ></a>
            <div class="card-description">
              <h2><%= project.title %></h2>
              <p><%= project.description[0, 100] %></p>
              <p class="green" id="bright"><%= "New interest" if project.interest? %></p>
            </div>
            <div class="card-delete">
              <% if project.user == current_user %>
                <%= link_to project_path(project), method: :delete do %>
                  <i class="far fa-trash-alt"></i>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <br>
    <div class="new-project-button btn btn-primary">
      <%= link_to "Create a New Project", new_project_path, class: "btn-primary" %>
    </div>
    <br>
  </div>

<!------------------------------>

  <div class="user-interests section">
    <h3>Contributions you are interested in:</h3>
    <div class="row">
      <% @user.interests.each do |interest| %>
        <div class="col-xs-12 col-sm-4">
          <div class="card">
            <a class="card-link" href="<%= contribution_path(interest.contribution) %>" ></a>
            <div class="card-description">
              <h2><%= interest.contribution.title %></h2>
              <p><%= interest.contribution.description[0, 100] %></p>
            </div>
            <div class="card-delete">
                <i class="far fa-trash-alt"></i>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>


<!---------------------------------->

  <div class="user-contributions section" id="last-section">
    <h3>Contributions you are working on:</h3>
    <div class="row">
      <% @user.contributions.each do |contribution| %>
        <div class="col-xs-12 col-sm-4">
          <div class="card">
            <a class="card-link" href="<%= contribution_path(contribution) %>" ></a>
            <div class="card-description">
              <h2><%= contribution.title %></h2>
              <p><%= contribution.description[0, 100] %></p>
            </div>
            <div class="card-delete">
                <i class="far fa-trash-alt"></i>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <%= link_to "Back", :back %>
</div>



