<% @projects.each_with_index do |project, i| %>
  <div class="col-xs-12 col-sm-4">
    <div class="thecard">
      <div class="card-img">
        <img src="https://picsum.photos/200/300/?random">
      </div>
      <div class="card-caption">
        <div class="card-delete">
          <% if project.user == current_user %>
          <%= link_to project_path(project), method: :delete do %>
          <i class="far fa-trash-alt"></i>
            <% end %>
          <% end %>
        </div>
        <i id="clock-btn" class="far fa-clock"></i>
        <span class="date">Last updated: <%= project.updated_at %></span>
        <h1 class="project-title"><%= project.title %></h1>
        <p class ="card-description"><%= project.description[0, 100] %></p>

        <p class ="card-skills"><strong><em>Relevant skills:</em> &ensp;</strong><%= project_skills(project).join(", ") %></p>
      </div>
      <div class="card-out">
        <h5>Read more</h5>
        <i id="out-icon" class="fa fa-angle-right"></i>
      </div>
      <a class="card-link" href="<%= project_path(project) %>" ></a>
    </div>
  </div>
<% end %>
