<% @projects.each_with_index do |project, i| %>
  <div class="col-xs-12 col-sm-4">
    <div class="thecard">
      <div class="card-img">
        <% if project.photo.present? %>
          <% photo = cl_image_tag project.photo%>
        <% else %>
          <% photo = cl_image_tag('logo.png') %>
        <% end %>
        <%= photo %>
      </div>
      <div class="card-caption">
        <i id="clock-btn" class="far fa-clock"></i>
        <span class="date">Last updated: <%= project.updated_at %></span>
        <h1 class="project-title"><%= project.title %></h1>
        <p class ="card-description"><%= project.description[0, 100] %></p>

        <div class="reqs-box">
          <p class ="card-skills"><strong><em>Relevant skills:</em> &ensp;</strong></p>
          <div class="reqs">
            <% project.skills.each do |skill| %>
              <i class="devicon-<%= skill.slug %>"></i>
            <% end %>
          </div>
        </div>
      </div>
      <div class="card-out">
        <h5>Read more</h5>
        <i id="out-icon" class="fa fa-angle-right"></i>
      </div>
      <a class="card-link" href="<%= project_path(project) %>" ></a>
    </div>
  </div>
<% end %>
