<div class="user-contributions section" id="last-section">
  <h3>Contributions you are working on:</h3>
  <div class="row">
    <% @user.contributions.each do |contribution| %>
      <div class="col-xs-12 col-sm-4">
        <div class="thecard">
          <div class="card-caption">
            <div class="card-delete">
              <% if contribution.user == current_user %>
                <%= link_to remove_contribution_user_path(contribution) do %>
                  <p>unassign</p>
                <% end %>
              <% end %>
            </div>
            <i id="clock-btn" class="far fa-clock"></i>
            <span class="date">Last updated: <%= contribution.updated_at %></span>
            <h1 class="project-title"><%= contribution.title %></h1>
            <p class="card-description"><%= contribution.description[0, 100] %></p>
            <div class="reqs-box">
              <p class ="card-skills"><strong><em>Relevant skills:</em> &ensp;</strong></p>
              <div class="reqs">
                <% contribution.skills.each do |skill| %>
                  <i class="devicon-<%= skill.slug %>"></i>
                <% end %>
              </div>
            </div>
          </div>
          <div class="card-out">
            <h5>Read more</h5>
            <i id="out-icon" class="fa fa-angle-right"></i>
          </div>
          <a class="card-link" href="<%= contribution_path(contribution) %>" ></a>
        </div>
      </div>
    <% end %>
  </div>
</div>
