<%= render 'banner' %>
<div class="container">
  <h1 class="latest-projects">Projects</h1>
    <%= form_tag root_path, method: :get, remote: true do %>
      <%= text_field_tag :query,
        params[:query],
        id: 'search',
        class: "form-control",
        placeholder: "Find a project"
      %>
    <% end %>

  <div class="row" id="results">
    <%= render "pages/results_home", results: @projects %>
  </div>
</div>
<script>
  const allProjects = []
</script>
<% @projects.each do |project| %>
  <script>allProjects.push(`<%= project.title %>`)</script>
<% end %>

<script>
  // const results = document.getElementById('results');

  // function refreshResults(results, innerHTML) {
  //   results.innerHTML = innerHTML;
  // }


  const displayCards = (word) => {

    document.querySelectorAll(".project-title").forEach((title) => {
      downcasedTitle = title.innerHTML.toLowerCase()
      downcasedWord = word.toLowerCase()
      if (downcasedTitle.includes(downcasedWord)) {
        title.parentNode.parentNode.parentNode.style.display = "block"
      } else {
        title.parentNode.parentNode.parentNode.style.display = "none";
      }
    })
    if (word === "") {
      document.querySelectorAll(".project-title").forEach((title) => {
        title.parentNode.parentNode.parentNode.style.display = "block"
      })
    }
  }

  const searchBar = document.getElementById('search');
  word = "";
  searchBar.addEventListener("keyup", (event) => {
    if (event.key == "Backspace") {
      word = word.substring(0, word.length - 1);
    } else if (event.key.length > 1 ) {
      console.log("not adding any letter")
    } else {
      word += event.key;
    }
    displayCards(word);
  })

</script>

<%= render 'how' %>
<%= render 'm' %>
