<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Git Legit</title>
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <%= yield(:after_js) %>
    <%= render 'shared/footer' %>
    <script>
      const cards = document.querySelectorAll(".thecard")

      cards.forEach((card) => {

        const devicons = card.querySelectorAll(".reqs i")


        card.addEventListener("mouseout", () => {
          devicons.forEach((devicon) => {
            devicon.classList.remove("colored")
          })
        })
        card.addEventListener("mouseover", () => {
          devicons.forEach((devicon) => {
            devicon.classList.add("colored")
          })
        })
      })

      const devicons = document.querySelectorAll(".reqs i, .knowledges i")

      devicons.forEach((devicon) => {
        devicon.addEventListener("mouseout", (event) => {
          event.target.classList.remove("colored")
        })
        devicon.addEventListener("mouseover", (event) => {
          event.target.classList.add("colored")
        })
      })
    </script>
  </body>
</html>
